@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  margin: 10px;
  font-family: "Roboto", sans-serif;
}

#bh {
  height: 300px;
  margin: 0;
}

#top_par {
  color: #fff5e1;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

#par {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #3C3A39; */
/* padding: 10px 20px;
  color: #fff5e1; */

/*
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff5e1;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: hsl(233, 8%, 79%);
}

#btns {
  display: flex;
  justify-content: space-around;
}*/
/*@media (max-width: 768px) {
 nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}

.about {
  color: #fff5e1;
} */
